<% include ../common-en_US/header.ejs %>

<h1>Hi <%=recipientName%></h1>

<p>Congratulations! You have just been awarded an official <%=badgeName%> badge for your skills!
Your awesome new badge is now displayed on your CoderDojo profile <a href="<%=profileLink%>">here.</a></p>

<p>Check out all the other cool badges you can collect <a href="<%=badgeListLink%>">here.</a></p>

<p>Keep coding cool!</p>

<p>The CoderDojo Foundation Team</p>
<% include ../common-en_US/footer.ejs %>
