<% include ../common-en_US/header.ejs %>
<!-- MAIN CONTENT GOES HERE -->

  <h1>Hi,</h1>

  <p>We are sending you this as you are the registered Dojo email for '<%= dojoName %>'.</p>
  <p>To celebrate reaching 1000 Dojos we want to find out how many kids attended a Dojo recently! Answer <b>ONE QUESTION</b> and contribute to expanding the knowledge we all have of the impact of the global CoderDojo community.
    Fill out this poll on behalf of your Dojo
    <a href="<%= pollLink %>"><%= pollLink %></a>
  </p>

  <p>Once we have closed the poll we will send all Dojos the final results! If you have any questions, please contact us on <b>info@coderdojo.org</b></p>

  <p>Best wishes,</br>
  The CoderDojo Foundation Team</p>

<% include ../common-en_US/footer.ejs %>
