<% include ../common/header.ejs %>
  <h1>Hi there,</h1>

  <p>You have been nominated to receive the following CoderDojo Badge: </p>
  <div>
    <img class="badge-thumbnail" src="<%=badgeImage%>">
    <p><b><%=badgeName%></b></p>
  </div>
  
  <p>Please click the following link to accept the award <a href="<%=link%>"><%=link%></a></p>
<% include ../common/footer.ejs %>

