<% include ../common-en_US/header.ejs %>
<!-- MAIN CONTENT GOES HERE -->
<h1>Hi there,</h1>

<p>You have been invited to become a <b><%=userType%></b> with the <b><%=dojoName%></b> Dojo.</p>
<p>Please click the following link to accept the invitation <a href="<%=link%>"><%=link%></a></p>

<p>Best wishes,</br>
The CoderDojo Foundation Team</p>

<% include ../common-en_US/footer.ejs %>