<h1>Hi there,</h1>

<p>You have been invited to become a <b><%=userType%></b> with the <b><%=dojoName%></b> Dojo.</p>
<p>Please click the following link to accept the invitation <a href="<%=link%>"><%=link%></a></p>