<% include ../common/header.ejs %>
<h1>Hi there,</h1>

We have set up a Google Email account for your Dojo: <%=dojo%>. The email address and it's temporary password are:

Email Address: <%=email%>
Password:      <%=temp_pass%>

You will have to change this password when you first log in.
<a href="https://mail.google.com">Please click here to login.</a>
<% include ../common/footer.ejs %>