<% include ../common-en_US/header.ejs %>

<h1>Hi there,</h1>

<p>We have just set up a Google email account for your Dojo: <b><%=dojo%></b>.</p>

<p>The email address and its temporary password are:</p>

<p>
  Email Address: <%=email%> </br>
  Password:      <%=temp_pass%>
</p>

<p>
  You will have to change this password when you first log in.
  <a href="https://mail.google.com">Please click here to login.</a>
</p>

<p>Best wishes,</br>
The CoderDojo Foundation Team</p>

<% include ../common-en_US/footer.ejs %>