<% include ../common-en_US/header.ejs %>
  <!-- MAIN CONTENT GOES HERE -->
  <h1>Hi <%=userName%></h1>
  <p>Your application for the event <b><%=eventName%></b> taking place on <b><%=eventDate%></b> at <b><%=eventTime%></b> has been received.</p>
  <p>You will receive an email if you are approved for this event.</p>
<% include ../common-en_US/footer.ejs %>