<% include ../common-en_US/header.ejs %>
<!-- MAIN CONTENT GOES HERE -->
You have a new message from <%= dojoName %> Dojo:
<div class="customContent">
  <%- content %>
</div>
<% include ../common-en_US/footer.ejs %>
