<% include ../common-en_US/header.ejs %>
<!-- MAIN CONTENT GOES HERE -->
<%= intro %>
<div class="customContent">
  <%- content %>
</div>
<p><i>
  This content is from an admin of dojo <%= dojoName %>. They shouldn't ask for your password or personal account information
</i></p>
<% include ../common-en_US/footer.ejs %>
